body {
  background-color: rgb(255, 255, 255);
}

/* Code for Splash Screen */

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  z-index: 2;
  text-align: center;
}
.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: -1;
  text-align: center;
  line-height: 90vh;
  transition: all 0.8s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in-out;
  height: 100vh;
  width: 100%;
}

/* Code for Heading */

#heading {
  text-align: center;
  margin: 0 auto;
  /* border: 1px solid black; */
  width: 300px;
  padding: 25px;
  letter-spacing: 0.2em;
  position: relative;
  animation: head 1s;
  animation-delay: 2.1s;
}

@keyframes head {
  from {
    right: -50%;
  }
  to {
    right: 0%;
  }
}

/*Code for Body */

td {
  border: 2px solid #333;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: "Comic Sans MS", cursive;
  font-size: 70px;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  background-color: rgb(255, 255, 255);
  position: relative;
  margin: 0 auto;
  animation: slide 1s;
  animation-delay: 2.1s;
  box-shadow: 2px 2px 4px 2px rgba(51, 51, 51, 0.3);
}
@keyframes slide {
  from {
    left: -50%;
  }
  to {
    left: 0%;
  }
}
table tr:first-child td {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr td:last-child {
  border-right: 0;
}

.endgame {
  display: none;
  width: 200px;
  top: 120px;
  background-color: rgba(87, 85, 85, 0.7);
  position: absolute;
  left: 50%;
  margin-top: 15vh;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}

/* Css for Button */

#btn {
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}

button {
  border-radius: 10px;
  font-size: larger;
  background-color: rgb(7, 7, 7);
  cursor: pointer;
  color: white;
  padding: 7px;
}
